<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qupengcheng.qingdaoeducation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">

        </activity>

        <activity
            android:name="activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="activity.MyCollecttionActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.UserRegisterNextActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.UserRegisterActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.MainHomeActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.ChangePswActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.HomeExerciseActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.MyOrderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="activity.FreeLessonsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.LessonDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.ArticleDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.ArticleVideoActivity"
            android:configChanges="orientation|touchscreen|keyboardHidden"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.TestExerciseActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="activity.MediaPlayActivity"
            android:configChanges="orientation|touchscreen|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="activity.PracticeListactivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="activity.ArticleDetailNewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="activity.HomeExerciseNewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="activity.ReadAnswerActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>